$editor-line-width: 40px;
$editor-line-height: 1.433em;
$editor-font-size: 1.2em;

.Editor {
  position: relative;

  &__Line {
    width: $editor-line-width;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__Input {
    margin-left: $editor-line-width;
    width: 100%;

    textarea {
      width: 100%;
      border: 0;
      resize: none;
      font-size: $editor-font-size;

      &:focus {
        outline: none;
      }
    }
  }
}
